@media (max-width: 376px){
    /* h3{
        font-size: 24px !important;
        margin-bottom: 2px !important;
    }
    h4{
        font-size: 21px !important;
    }

    header .navbar .navbar-brand {
        padding-left: 0px !important;
        font-size: 23px;
    }
    header .navbar .navbar-brand i {
        font-size: 26px;
    }
    .fa-solid, .fas {
        padding-top: 5px;
    } */
    #bannar-1{
        height: 54px ;
    } 
    #bannar-1 .leyar{
        padding-top: 13px;
    }





    #middil-8 .text-box {
        width: 100% !important;
    }


    #middil-9 {
        width: 100%;
        padding: 10px 0px;
    }
    #middil-9 .img{
        padding: 20px 0px;
    }
    #img-middil{
        height: auto;
    }
    #img-middil .leyar {
        padding: 20px 0px;
    }
    #img-middil .leyar h4{
        font-size: 26px !important;
        padding-bottom: 5px !important;
    }
    #img-middil .leyar h6{
        font-size: 18px !important;
    }

    #middil-10 .text-box {
        width: 100% !important;
    }


}



@media(min-width: 376px) and (max-width:576px){
    /* h6{
        font-size: 26px !important;
    }
    h3{
        font-size: 32px !important;         
    }

    header .navbar .navbar-brand {
        padding-left: 0px !important;
        font-size: 33px;
    }
    header .navbar .navbar-brand i {
        font-size: 40px;
    }
    .fa-solid, .fas {
        font-size: 30px !important;
    } */
    #bannar-1{
        height: 54px ;
    } 
    #bannar-1 .leyar{
        padding-top: 13px;
    }




    #middil-8 .text-box {
        width: 100% !important;
    }

    #middil-9 {
        padding: 20px 0px;
    }
    #middil-9 .img{
        padding: 20px 0px;
    }
    

    #img-middil{
        height: auto;
    }
    #img-middil .leyar {
        padding: 20px 0px;
    }
    #img-middil .leyar h4{
        font-size: 26px !important;
        padding-bottom: 5px !important;
    }
    #img-middil .leyar h6{
        font-size: 18px !important;
    }
    #middil-10 .text-box {
        width: 100% !important;
    }


}



@media(min-width: 576px) and (max-width:786px){
    /* h6{
        font-size: 26px !important;
    }
    h3{
        font-size: 32px !important;         
    }

    header .navbar .navbar-brand {
        padding-left: 0px !important;
        font-size: 33px;
    }
    header .navbar .navbar-brand i {
        font-size: 40px;
    }
    .fa-solid, .fas {
        font-size: 30px !important;
    } */
    #bannar-1{
        height: 73px ;
    } 
    #bannar-1 .leyar{
        padding-top: 21px;
    }
    #bannar-1 .leyar a {
        font-size: 22px !important;
    }
    #bannar-1 .leyar span {
        font-size: 22px !important;
    }


    #middil-8 .text-box {
        width: 100% !important;
    }

    #middil-9 {
        padding: 20px 0px;
    }
    #middil-9 .img{
        padding: 20px 0px;
    }
    

    #img-middil{
        height: auto;
    }
    #img-middil .leyar {
        padding: 10px 0px;
    }
    #img-middil .leyar h4{
        font-size: 26px !important;
        padding-bottom: 5px !important;
    }
    #img-middil .leyar h6{
        font-size: 18px !important;
    }
    #middil-10 .text-box {
        width: 100% !important;
    }


}



@media(min-width: 768px) and (max-width:992px){
    /* h6{
        font-size: 26px !important;
    }
    h3{
        font-size: 32px !important;         
    } */

    /* header .navbar .navbar-brand {
        padding-left: 0px !important;
        font-size: 33px;
    }
    header .navbar .navbar-brand i {
        font-size: 40px;
    }
    .fa-solid, .fas {
        font-size: 30px !important;
    } */
    #bannar-1{
        height: 73px ;
    } 
    #bannar-1 .leyar{
        padding-top: 21px;
    }
    #bannar-1 .leyar a {
        font-size: 22px !important;
    }
    #bannar-1 .leyar span {
        font-size: 22px !important;
    }


    #middil-8 .text-box {
        width: 100% !important;
    }

    #middil-9 {
        width: 100%;
        padding: 20px 0px;
    }
    

    #img-middil{
        height: auto;
    }
    #img-middil .leyar {
        padding: 10px 0px;
    }
    #img-middil .leyar h4{
        font-size: 37px !important;
        padding-bottom: 5px !important;
    }
    #img-middil .leyar h6{
        font-size: 24px !important;
    }
    #middil-10 .text-box {
        width: 100% !important;
    }



}