
#middil-11{
    padding: 50px 0px;
}
#middil-11 .box:hover i{
    transform: translateY(-10px);
}
#middil-11 i{
    font-size: 20px !important;
    padding-top: 10px !important;
    color: var(--logo-text-color);
    margin-bottom: 20px !important;
    transition: all .6s !important;
}
#middil-11 p{
    margin-bottom: 0 !important;
}
#middil-11 h6{
    margin-bottom: 5px !important;
}
#middil-11 h6:hover{
    color: #222;
    cursor: auto;
}


#middil-12{
    padding: 30px 0px 80px;
}
#middil-12 .two input[type=text], input[type=email]{
    width: 49%;
    height: 56px;
    margin-bottom: 20px;
    padding-left: 20px;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--para-white);
    background-color: var(--back-color);
}

#middil-12 .one input[type=text]{
    width: 99%;
    height: 56px;
    margin-bottom: 20px;
    padding-left: 20px;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--para-white);
    background-color: var(--back-color);
}
#middil-12 textarea{
    width: 99%;
    height: 120px;
    padding-left: 20px;
    padding-top: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--para-white);
    background-color: var(--back-color);
}
.send-btn {
    border: none;
    padding: 15px 30px;
    border-radius: 6px;
    float: right;
    margin: 20px 0px;
    color: var(--logo-color);
    background: #21abf9;
}